body {
  background-image: url('background.jpg');
  background-size: cover;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ae967f;
}
li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #a28c87;
}
table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}
th {
  background-color: #DDEFEF;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}
td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}
input[type=submit] {
  display: block;
  margin:0 auto;
  text-decoration: none;
  border: none;
  outline: 0;
  cursor: pointer;
  color: #fff;
  background: #555;
  font-weight: bold;
  position: relative;
  height: 3.0em;
  line-height: 3.0em;
  width: 100px;
  padding: 0 0.8em 0 1.2em;
  transition: 0.5s;
}
input[type=submit]::after {
  transition: 0.5s;
  content: "";
  width: .6em;
  height: .6em;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  top: -2px;
  bottom: 0;
  right: 20px;
  margin: auto;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type=submit]:hover::after {
  right: 12px;
}

input[type="submit"]:hover {
  background: #134767;
}
p {
  color: #333; 
  font-family: 'Raleway',sans-serif; 
  font-size: 20px; font-weight: 300; 
  line-height: 30px; margin: 0 0 1; 
  text-align: center; 
  text-transform: uppercase;
}